.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  font: {
    family: "Ribeye Marrow";
    size: 35px;
  }
  color: map-get($colors, primary);
  text-align: center;

  .result-split-heading {
    display: inline-block;
    opacity: 0;
  }
}

#githubIcon {
  position: absolute;
  right: 0;
  padding: {
    top: 15px;
    right: 15px;
  }

  svg {
    fill: map-get($colors, body);
    transition: fill 350ms ease;
    stroke: map-get($colors, icon-stroke);
    stroke-width: 2;
  }
}
