.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font: {
    family: "Ribeye Marrow";
    size: 30px;
  }
  color: var(--primary-color);
  text-align: center;

  margin: 80px 0;
}
