@font-face {
  font-family: "orange juice";
  src: url("../fonts/orangejuice.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ribeye Marrow";
  src: url("../fonts/RibeyeMarrow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
