.input-wrapper {
  text-align: center;

  input {
    max-width: 600px;
    width: 100%;

    padding: 5px 10px;
    font-size: 28px;
    color: map-get($colors, primary);
    font-family: "Righteous";
    border-bottom: {
      color: map-get($colors, secondary);;
      width: 2.5px;
      style: solid;
    }

    &:focus {
      outline: none;
      color: map-get($colors, secondary);;
      border-bottom-color: map-get($colors, primary);
    }
  }
}
