.input-wrapper {
  text-align: center;
  position: relative;

  input {
    max-width: 600px;
    width: 100%;

    padding: 5px 10px;
    font-size: 26.5px;
    color: map-get($colors, primary);
    font-family: "Righteous";

    border-bottom: {
      color: map-get($colors, secondary);
      width: 3px;
      style: solid;
    }
    border-radius: 5px;

    transform: scaleX(0);

    &:focus {
      outline: none;
      color: map-get($colors, secondary);
      border-bottom-color: map-get($colors, primary);
    }
  }
}
