@media (min-width: 768px) {
  #resultsWrapper {
    max-width: 80%;
  }
}

@media (min-width: 1080px) {
  #resultsWrapper {
    max-width: 50%;
  }
}

@media (max-width: 1080px) {
  #githubIcon {
    bottom: 0;
    width: 35px;

    padding: {
      right: 5px;
    }
  }
}
