#resultsWrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

  overflow-y: scroll;
  height: 45vh;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, "scrollbar");
    border-radius: 20px;
  }
}

.result {
  font-family: "Righteous";

  &-heading,
  &-footer {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 20px;
    text-align: center;
    padding: 5px;

    background-color: map-get($colors, primary);
    color: #ffffff;
    letter-spacing: 1.5px;
  }

  &-cal {
    display: grid;
    grid-template-columns: minmax(100px, 10px) 4fr minmax(100px, 10px);

    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #cccccc;

    .calculation {
      text-align: left;
    }

    p {
      padding: 8px 5px;
      font-size: 18px;
      border: 1px solid map-get($colors, secondary);
    }
  }

  &-footer {
    background-color: map-get($colors, secondary);
  }
}

.result ~ .result {
  margin-top: 40px;
}

.error {
  font-family: "orange juice";
  font-size: 50px;
  text-align: center;
  color: map-get($colors, error);
}
