.input-wrapper {
  text-align: center;

  input {
    max-width: 600px;
    width: 100%;

    padding: 5px 10px;
    font-size: 28px;
    color: var(--primary-color);
    border-bottom: {
      color: var(--secondary-color);
      width: 2.5px;
      style: solid;
    }

    &:focus {
      outline: none;
      color: var(--secondary-color);
      border-bottom-color: var(--primary-color);
    }

    // &::placeholder {
    // TODO: import font -> Roboto Slab
    // }
  }
}
