*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  body: hsl(221, 17%, 22%),
  primary: hsl(213, 100%, 66%),
  secondary: hsl(176, 89%, 38%),
  scrollbar: hsla(0, 0%, 77%, 0.4),
  error: hsl(360, 67%, 51%),
);

body {
  background-color: map-get($colors, body);
}

input {
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

svg {
  width: 100%;
}

@import "./partials/fonts"; // fonts
@import "./partials/container";
@import "./partials/heading";
@import "./partials/input";
@import "./partials/results";
@import "./partials/responsive";
